<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whale.nangua.toquan">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NavTheme">
        <activity android:name=".act.RechargeActivity" />
        <activity android:name=".act.TestAty" />
        <activity android:name=".act.LoginAty" />
        <activity android:name=".act.PhoneLoginAty" />
        <activity android:name=".act.RegisterActivity" />
        <activity android:name=".act.Test2Aty" />
        <activity android:name=".act.Test3Aty" />
        <activity android:name=".act.TestMediaRecoder" />
        <activity android:name=".act.GuideActivity" />
        <activity android:name=".act.CertificationActivity" />
        <activity android:name=".act.UserInfoActivity" />
        <activity android:name=".act.PersonalActivity" />
        <activity android:name=".act.ChanggeAutographActivity" />
        <activity android:name=".act.SetupActivity" />
        <activity android:name=".act.FindActivity" />
        <activity android:name=".act.PrivateVideoActivity" />
        <activity android:name=".act.OfficialActivity" />
        <activity android:name=".act.OthersInfoActivity" />
        <activity android:name=".act.TestLoadDialogActivity" />
        <activity android:name=".act.VideoCertificationActivity" />
        <activity android:name=".act.ReportActivity" />
        <activity android:name=".act.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.Guide2Activity" />
        <activity android:name=".act.PopActivity" />
        <activity android:name=".act.CarrousellayoutActivity" />
        <activity
            android:name=".act.NestedScrollViewActivity"
            android:label="@string/title_activity_nested_scroll_view"
            android:theme="@style/NavTheme" />
        <activity android:name=".act.TextHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XuePayTheme" >

        </activity>
    </application>

</manifest>